<head>
  <title>Header Title</title>
</head>
<body>
 <% if (!username) { %>
  <h1><p style="display: inline-block;"><%= username %></p></h1>
  <form method="POST" action="/login" style="display: inline-block;">
    <input id="username" type="text" name="username" placeholder="insert a login name" style="width: 300px">
    <input type="submit" value="login">
  </form>
 <% } else { %>
 <p>
     <%= username %>
  <form method="POST" action="/logout">
    <input type="submit" value="logout">
 </p>
 </form>
  <% } %>
</body>