<head>
  <title>TinyAPP</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png">
</head>
<body>
  <h1>Tiny App</h1>
  <style>
    body {
      color: #fdfdfd;
    }
  </style>
  </h1>

  <% if (user) { %>
  <p><%= user.email %> </p>
  <form method="POST" action="/logout">
    <input type="submit" value="logout"><br>
  </form>
  <form action="http://localhost:1234/urls/new">
    <input type="submit" value="make a new URL" />
  </form>


 <% } else { %>
  <h2>
  <p style="display: inline-block;"><%= user %></p>
  </h2>

  <a href="http://localhost:1234/register">Sign up</a>
  <a href="http://localhost:1234/login">Login</a>

  <% } %>
</body>