<head>
    <title>TinyAPP</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/png">
</head>

<body>
    <h1>Tiny App</h1>
    <style>
        body {
            background-color: #46dac7;
            color: #fdfdfd;
        }
    </style>
    </h1>
    <% if (user) { %>

        <h2>Welcome,
            <%= user.email %>
        </h2>
        <form method="POST" action="/logout">
            <input type="submit" value="logout"><br>
        </form>
        <% } else { %>
            <a href="/register">Sign up</a>
            <a href="/login">Login</a>
            <% } %>
</body>