<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <ul>
  <% for (var shortkeys in urls) { %>
<!--   for every shortkey in the urls(obj) pass through shortkeys -->
    <li><%= urls[shortkeys] %><%= shortkeys %><form method="POST" action="/urls/<%= shortkeys %>/delete">
      <a href="/urls/<%=shortkeys%>">Edit</a>
      <input type="submit" value="Delete">
    </form></li>

  <% } %>
  </ul>
</body>
</html>