<!DOCTYPE html>
<html lang="en">

<head></head>

<body style="font-size:20px; padding:50px;">
    <h1>Login</h1><br>
    <a href="/register">Register</a>
    <form action="/login" method="POST" style="margin:150px;">
        Email: <input type="email" name="email"><br> Password: <input type="password" name="password"><br>
        <input type="submit" value="login"><br>
    </form>
</body>

</html>