<!DOCTYPE html>
<html lang="en">

<head></head>

<body style="font-size:20px; padding:50px;">
    <h1>Please login or register to use TinyApp</h1><br>
    <h2>Not Found when you are not logged in.</h2>
    <a href="/register">Sign up</a> |
    <a href="/login">Login</a>

</body>

</html>